html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    /* margin: 0 auto ; */
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}


/**coding by huangjz*/
html,
body {
    height: 100%;
    padding-bottom: 100px;
}

main{
    flex:1;
}

.content-wrapper{
    flex: 1;
    margin-bottom: 200px;
}

.content-wrapper-index {
    flex: 1;
    margin-bottom: 200px;
    background: url('../pic/1.jpg') center center fixed;
    background-size: cover;
    background-attachment: fixed; /* 保持背景固定 */
    position: relative;
    height: 100vh;
    opacity: 0.9; /* 设置半透明度，可以调整值 */
}



aside {
    min-width: 100px; /* 增加最小宽度，使内容更大 */
    max-height: 480px;
    background-color: #E4D795; /* 设置主背景色为深蓝色 */
    color: #ECF0F1; /* 设置文字颜色为浅灰色 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 添加阴影效果 */
}

aside .nav-pills .nav-link {
    border-radius: 0;
    color: #ECF0F1; /* 设置链接文字颜色为浅灰色 */
    transition: background-color 0.3s ease, color 0.3s ease; /* 添加过渡效果 */
}

aside .nav-pills .nav-link:hover {
    background: #808285; /* 悬停时的背景色为深蓝色 */
    color: #D4AC0D; /* 悬停时的文字颜色为深黄色 */
    
    transition: transform 0.3s ease; /* 添加过渡效果 */
    transform: scale(1.1); /* 设置悬停和选中时的放大效果 */
}
aside .nav-pills .nav-link.active {
    background: #808285; /* 激活时的背景色为深蓝色 */
    color: #D4AC0D; /* 激活时的文字颜色为深黄色 */
    border-left: 4px solid #D4AC0D; /* 添加左边框，颜色为深黄色 */
    transform: scale(1.1); /* 设置悬停和选中时的放大效果 */
    transition: transform 0.3s ease; /* 添加过渡效果 */
}


.upload-icon{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background:#e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    color:#454545;
}

/* .btn-file{
    position: relative;
}

.btn-file input{
    position:absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
} */
/**end*/